<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
  </ion-buttons>
    <ion-title>Higiene</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <br>
  <div class="resumo">
    <ion-label class="ion-text-wrap">
      Os gatos são animais extremamente limpos por natureza. 
       Eles têm o habito de enterrar seus dejetos, e se limpar inúmeras vezes por dia, 
       se lambendo de forma bem metódica e meticulosa, garantindo todos os cuidados de higiene 
       fundamentais a uma vida saudável. O dono pode auxiliar na higiene do gato com alguns cuidados 
       que veremos abaixo.
    </ion-label>
  </div>
  <br>

  <ion-list>
    <ion-item>
      <ion-label class="ion-text-wrap">
        <div class="titulo"><b>Banho</b></div>
        <br>
        Os gatos são animais muito higiênicos e dedicam sempre algum tempo por dia a esta atividade, 
        por isso, não se faz necessário dar banho ao seu animal. É verdade que os gatos não gostam de água 
        e quando são obrigados a tomar banho pode ser um processo um pouco tortuoso para ao animal, podendo 
        estressá-lo. A melhor forma de diminuir o estresse durante o banho é acostumar o animal desde filhote.
        No caso de gatos que gostam de banho, e reagem bem à água, não tem problema se quiser 
        dar um banho de vez em quando. Vale lembrar que não é bom dar banho com muita 
        frequência, pois pode desequilibrar a oleosidade natural da pele e do pêlo deles.
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label class="ion-text-wrap">
        <div class="titulo"><b>Anti-pulgas</b></div>
        <br>
        Mesmo para os gatos que vivem em apartamento, é importante deixar o anti-pulgas em dia, 
        pois esses pequenos parasitas podem aparecer em qualquer lugar, mesmo ambientes internos 
        e sem acesso à rua. 
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label class="ion-text-wrap">
        <div class="titulo"><b>Tosa</b></div>
        <br>
        Em caso de gatos com pelos longos que possam conter nós, ou até mesmo para o gato não sofrer 
        com calor excessivo no verão, é possível tosá-lo, para aliviar a quantidade de pelos. 
        Para a tosa não é necessário dar banho, sendo assim uma alternativa aos gatinhos que tem medo de água.
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label class="ion-text-wrap">
        <div class="titulo"><b>Escovação</b></div>
        <br>
        Ajuda a eliminar o excesso de pelos, fazendo eles ingerirem menos pelos quando estiverem se lavando. 
        Uma dica boa para escovar os pets é o Furminator uma escova que elimina até 90% dos pelos mortos dos 
        gatos.
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label class="ion-text-wrap">
        <div class="titulo"><b>Ouvidos</b></div>
        <br>
        Gatos têm tendência a acumular sujeira nos ouvidos. Para que não se torne um problema ao ponto de 
        dar origem ao aparecimento de otites, deve-se limpar com cuidado os ouvidos, utilizando um algodão 
        embebido em soro fisiológico. Dependendo de cada gato, esse processo pode ser praticado com mais ou 
        menos frequência, ou até ser completamente desnecessário.
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label class="ion-text-wrap">
        <div class="titulo"><b>Olhos</b></div>
        <br>
        Limpar os olhos dos gatos, evitando o acúmulo de secreções. Caso note que o seu gatinho está 
        acumulando muita secreção nos olhos, ou até mesmo nos ouvidos, consulte um veterinário pois pode 
        ser sintoma de alguma doença.
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label class="ion-text-wrap">
        <div class="titulo"><b>Caixa de Areia</b></div>
        <br>
        Além de os gatinhos não gostarem de usar a caixinha de areia suja, não faz bem para a saúde deles, 
        e nem nossa, deixar os dejetos parados por muito tempo. Tente limpar a caixinha de areia 1 ou 2x por 
        dia, e higienizá-la sempre que possível. Lave também os potes de ração e de água, e troque-a todos os 
        dias.
      </ion-label>
    </ion-item>

  </ion-list>

</ion-content>
