<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Manual do Gato</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="container">
    <div class="imagem">
      <ion-img src="../assets/images/logo.webp"></ion-img>
    </div>
    <ion-label class="ion-text-wrap">
      <i>O gato é um ser independente, original, sincero, autoconfiante, belo e com autoestima extrema.
      Portanto, não precisa vender sua amizade e nem seu amor por um punhado de ração.E por esse motivo é difamado pelos
      humanos que têm o seu ego ferido por não serem bajulados e superestimados
      por uma criatura autossuficiente e íntegra.</i>
      <br>
      - Autor Desconhecido
    </ion-label>
  </div>
</ion-content>
