<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
  </ion-buttons>
    <ion-title>Significado do Miado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-chip (click)="abrirLink()">
    <ion-icon name="volume-high-outline" color="primary"></ion-icon>
    <ion-label>Ouvir sons</ion-label>
  </ion-chip>

  <ion-list>
    <ion-item>
      <ion-label class="ion-text-wrap">
        <div class="titulo"><b>Fome</b></div>
        <br>
        A fome é talvez o principal motivo do miado do gato. 
        Esse pedido é caracterizado por um som alto e curto que geralmente se associa a tentativa do 
        bichano de te levar para o local onde está guardada a ração.
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label class="ion-text-wrap">
        <div class="titulo"><b>Stress</b></div>
        <br>
        Um gato muito nervoso ou que está se sentindo inseguro tende a miar algumas vezes. 
        Esses episódios podem acontecer durante o banho ou quando o animal passa muito tempo sozinho em casa. 
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label class="ion-text-wrap">
        <div class="titulo"><b>Recepção</b></div>
        <br>
        Se você for recebido em casa por um miado curto e tranquilo de seu gato significa 
        que ele está te dando boas vindas e que está feliz por te ver.
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label class="ion-text-wrap">
        <div class="titulo"><b>Cio</b></div>
        <br>
        Uma gata no cio costuma miar muito. Nessas situações o miado pode ser associado a gritos ou berros.
        É importante ter certeza de que a gata está realmente nesse período para tomar algumas precauções
        necessárias.
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label class="ion-text-wrap">
        <div class="titulo"><b>Chamar sua atenção</b></div>
        <br>
        Se você tem em casa um gato do tipo carente e ele está miando e se esfregando em você, 
        pode ter certeza que ele está requisitando um pouco da sua atenção.
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label class="ion-text-wrap">
        <div class="titulo"><b>Dor</b></div>
        <br>
        Se você já ouviu um gato chorar de dor, sabe como é angustiante esse som súbito, agudo e repentino 
        emitido em volumes altíssimos. O primeiro e mais importante passo é levá-lo 
        ao veterinário para uma consulta, por isso é tão importante ficar atento ao miado de gato.
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label class="ion-text-wrap">
        <div class="titulo"><b>Velhice</b></div>
        <br>
        Velhinhos reclamam mais e também podem miar com mais frequência, sem motivo aparente. 
        Porém, certifique-se de que está tudo bem com seu idoso, uma vez que eles precisam de cuidados 
        especiais que gatos jovens não necessitam.
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label class="ion-text-wrap">
        <div class="titulo"><b>Alerta</b></div>
        <br>
        Gatos agitados e bravos miam como se estivessem gritando, avisando que quem quer que entre no 
        território terá que arcar com as consequências. Normalmente, fazem esse tipo de miado quando 
        algum outro gato entra no território deles. É uma forma de mostrar que ali quem manda é ele. 
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label class="ion-text-wrap">
        <div class="titulo"><b>Portas fechadas</b></div>
        <br>
        Alguns gatinhos quando se deparam com alguma porta da casa fechada miam indicando que querem 
        entrar no cômodo. Às vezes apenas para matar a curiosidade ou para poder circular pela casa 
        sem barreiras. Um comportamento bem comum é arranhar a porta fechada, indicando que querem entrar
        naquele cômodo da casa. Caso seja um cômodo que ele não deva entrar, como locais onde se guardam 
        produtos de limpeza, tente distraí-lo com algum brinquedo ou petisco. 
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label class="ion-text-wrap">
        <div class="titulo"><b>Ao observar uma presa</b></div>
        <br>
        O "Cacarejo" é o nome popular de um tipo de som vibratório agudo que os gatos emitem ao mesmo tempo,
        em que fazem tremer as mandíbulas. Aparece em situações em que extrema excitação e frustração são 
        misturadas, como quando se observa uma presa possível através da janela.
        Uma forma de saber se o som está relacionado a esse fato é observar a linguagem corporal. 
        Quando um gato vê algo atrativo, balançará o rabo de um lado a outro e manterá firme o olhar no 
        próximo foco de ataque.
        Observe bem o seu gato, porque se você tiver um pássaro como animal de estimação em casa,
        poderá ter um problema.
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
