<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Fontes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item>
      <a href="https://www.adoteumronrom.com.br/single-post/2015/12/09/A-higiene-dos-gatos">https://www.adoteumronrom.com.br/single-post/2015/12/09/A-higiene-dos-gatos</a>
    </ion-item>

    <ion-item>
      <a href="http://www.lolipet.com.br/blog/gatos/linguagem-dos-gatos-entenda-o-que-ele-quer-te-dizer">http://www.lolipet.com.br/blog/gatos/linguagem-dos-gatos-entenda-o-que-ele-quer-te-dizer</a>
    </ion-item>

    <ion-item>
      <a href="https://gataria.pt/sons-emitidos-por-gatos-e-o-seu-significado/">https://gataria.pt/sons-emitidos-por-gatos-e-o-seu-significado/</a>
    </ion-item>

    <ion-item>
      <a href="https://areademulher.r7.com/area-pet/gato-miando/">https://areademulher.r7.com/area-pet/gato-miando/</a>
    </ion-item>
    

  </ion-list>

</ion-content>
